/* GLOBAL */
*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  background-color:white;
}
/* !GLOBAL */


/* NAVIGATION */
.navbar-custom { 
  background-color: #16213e; 
}
#logo{
  width: 150px;
  margin: -50px 0 -50px 0;
}
.navbar-custom .navbar-text{
  color: red;
}

.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}
/* !NAVIGATION */

/* HEADING */
@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

.waveWrapperInner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 400px;
  bottom: -1px;
  background-image: linear-gradient(to top, #16213e 20%, #27273c 80%);
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

#heading{
  margin: 120px 0 80px 0;
}
#heading h1{
    font-size: 80px;
    font-family: 'Montserrat', sans-serif, 700;
    color: white;
  }
  #heading h1 span{
    color: #00b4d8;
  }
#heading h5{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #a8dadc;
}
#heading button{
  border: 1px solid;
  padding: 10px 20px 10px 20px;
  font-size: 30px;
  margin: 10px 0 0 0;
  border-radius: 20px;
  background-color:azure ;
}
#heading button:hover{
  background-color: #16213e;
  color:white;
} 

/* !HEADING */

/* CONTENT */
#content{
  background-color: #16213e;
  color: white;
  padding: 30px 20px 30px 20px;
  margin: -200px 0 70px 0;
}
#content img{
  width: 100%;
  border-radius: 10px;
}
/* !CONTENT */



/* FOOTER */
.footer{
  background-color: #16213e;
  color: rgba(255, 255, 255, 0.678);
  padding: 70px 30px 0 30px;
  font-size: 14px;
}
.footer input{
  width: 100%;
  margin: 2px 0 10px 0;
  height: 40px;
}
.footer button{
  width: 100%;
  background-color: #dc3545 !important;
  color: white;
}
.footer-sec{
  margin-bottom: 100px;
}
.footer-last-sec{
  margin-bottom: 55px;
}
.footer .footer-last-sec i{
  font-size: 20px;
  margin: 0 10px 0 10px;
}
.footer .footer-last-sec i:hover{
 color: white;
}
.footer .footer-sec a:hover{
color: white;
}
.footer .links a{
  display: block;
}
.footer a{
  color: rgba(255, 255, 255, 0.651);
  text-decoration: none;
}
.footer h2{
  font-size: 26px;
  color: white;
}
#copyright{
  position: relative;
  left: 45%;
}
@media screen and (max-width:768px){
  #copyright{
    position: relative;
    left: 30%;
}
}
/* !FOOTER */
 

  